
{% extends "base.html" %}

<!-- File creato per inserire il form di modifica della password
    di uno specifico utente loggato. -->

<html>

    <head>
        {% block head %}
            <title>Change Password</title>

            {% load static from staticfiles %}
			<link rel="stylesheet" href="{% static 'alertStyle.css' %}" type="text/css">
            <link rel="stylesheet" href="sweetalert2.min.css">

        {% endblock %}

    </head>

    <body>
        {% block body %}
            <br>
            <div class="container" id="containerPw">
            <h2>Change Password </h2> <br>

                <form id="formPw" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button type="submit" id="changeBtn" class="btn btn-outline-danger">
                             Change
                    </button>

                    <script src="{% static 'popup.js' %}"> </script>
                </form>
                <br><br>
            </div>

        {% endblock %}
    </body>
</html>