
{% extends "base.html" %}

<!-- Pagina che contiene il form per la creazione di una recensione -->

<html>

    <head>
        {% block head %}
            <title> Reviews </title>
        {% endblock %}

    </head>

    <body>
        {% block body %}
        <br>
            <div class="container">
                <h2> Make your review! </h2><br>


                <form method="post" autocapitalize="off"
                            action="{% url 'recensione:make_review' %}">

                <table>
                    <tr height="200">
                         <td width="450">

                         {% csrf_token %}

                         <div class="form-group">
                             <label class="col-sm-2 col-form-label"> ID: </label>
                             <input type="text" readonly name="id"
                                value="{{ idbook }}">
                         </div>

                         <div class="form-group">
                             <label class="col-sm-2 col-form-label"> Title: </label>
                             {{ stringa }}
                         </div>

                         <div class="form-group">
                             <label class="col-sm-2 col-form-label"> Date: </label>
                             <script> document.write(new Date().toLocaleDateString()); </script>
                         </div>
                         </td>

                         <td width="400">
                            <div class="form-group">
                               <label class="col-sm-2 col-form-label"> Comment: </label>
                                 <textarea name="textarea" rows="3"
                                           cols="40" required></textarea>

                               <label class="col-sm-2 col-form-label"> Vote: </label>

                               <div class="container">
                                   <label for="one">1</label>
                                   <input type="range" min="1" max="5" step="1" name="customRange" required>

                                   <label for="five">5</label>
                                </div>
                           </div>
                         </td>

                         <tr>
                            <td>
                                <input type="submit" class="btn btn-primary" value="Confirm">
                            </td>
                         </tr>

                       </td>
                    </tr>

                </table>
                </form>
            </div>

        {% endblock %}
    </body>
</html>



