
{% extends "base.html" %}

<!-- Pagina generata da un indirizzo inesistente all'interno del progetto -->

<html>

    <head>
        {% block head %}
            <title> Page 404 </title>
        {% endblock %}

    </head>

    <body>
        {% block body %}
            <br>
            <div class="container">
                <h2>
                    Page 404 <br><br>
                </h2>
                <h3>
                    <p>
                    Oh No! You lost the way. <br>
                    This page does not exist!
                    </p>
                </h3>
            </div>
        {% endblock %}
    </body>
</html>